HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Environment / Secretos
.env
bin/
out/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db