# Ejemplo de configuracion de variables de entorno par PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_NAME=your_database

# Jwt
JWT_KEY_SIGNER_PUBLIC=BASE_64
JWT_KEY_SIGNER_PRIVATE=BASE_64
JWT_TOKEN_EXPIRATION=1200
COOKIE_JWT_EXPIRATION=7